@font-face {
    font-family: 'gilroy';
    src: url('/fonts/gilroy-medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'bohme';
    src: url('/fonts/bohme.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  :root {
    --pw-grad-start: #000000; /* light gray (echivalent cu Tailwind gray-200) */
    --pw-grad-end: #1b1b1b;   /* black-gray, închis dar nu complet negru */
  }
  
  body {
    font-family: 'gilroy', sans-serif;
  }
  
  .logofont {
    font-family: 'bohme', sans-serif;
  }
  